# Ignore all .log files
*.log

# Ignore node_modules directory
node_modules/

# Ignore temporary files
temp/

# dotenv environment variables file
.env
.env.local
.env.development
.env.test
.env.production